{% load my_tags %}
<div class="col md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.product_title }}</h4>
        </div>
        <div class="card-body">
            <img src="{{ object.image|media_path }}" class="img-thumbnail" alt="картинки нет(">
            <ul class="list-unstyled mt-3 mb-4">
                {% if object.version %}
                <li>Версия №{{ object.version.version_number }}</li>
                <li>{{ object.version.version_title }}</li>
                {% endif %}
                <li>Цена: {{ object.price }}</li>
                <li>Категория: {{ object.category }}</li>
            </ul>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <div class="btn-group">
                        <a href="{% url 'catalog:product_edit' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Редактировать</a>
                        {% if not perms.catalog.can_edit_is_active or user.is_superuser %}
                        <a href="{% url 'catalog:product_delete' object.pk %}"
                           class="btn btn-sm btn-outline-danger">Удалить</a>
                        {% endif %}
                    </div>
                </div>
                <a href="{% url 'catalog:product_view' object.pk %}"
                   class="btn btn-sm btn-outline-primary">Посмотреть</a>
            </div>
        </div>
    </div>
</div>