{% load my_tags %}
<div class="col md-4">
    <div class="card mb-4 shadow">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ object.product_title }}</h4>
        </div>
        <div class="card-body">
            <img src="{{ object.image|media_path }}" class="card-img-top" alt="картинки нет(">
            <ul class="list-unstyled mt-3 mb-4">
                {% if object.version %}
                    <li>Версия №{{ object.version.version_number }}</li>
                    <li>{{ object.version.version_title }}</li>
                {% endif %}
                <li>Цена: {{ object.price }}</li>
                <li>Категория: {{ object.category }}</li>
            </ul>
            <div class="btn-group">
                <a href="{% url 'catalog:product_edit' object.pk %}"
                   class="btn btn-lg btn-outline-secondary">Редактировать</a>
                <a href="{% url 'catalog:product_delete' object.pk %}"
                   class="btn btn-lg btn-outline-danger">Удалить</a>
                <a href="{% url 'catalog:product_view' object.pk %}"
                   class="btn btn-lg btn-outline-primary">Посмотреть</a>
            </div>
        </div>
    </div>
</div>