{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">{{ title }}</h1>
    </div>
{% endblock %}

{% block content %}
<div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ product.product_title }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <img src="{{ object.image|media_path }}" class="card-img-top" alt="картинки нет(">
                <li>категория: {{ product.category }}</li>
                <li>описание: {{ product.product_description|truncatechars:100 }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
